@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading--primary {
    @apply relative text-5xl capitalize;
  }

  .heading--primary::before {
    content: "";
    @apply w-1/5;
    height: 2px;
    background: #3e4b35;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .team-place {
    @apply absolute -top-10 -left-6 inline-flex h-16 w-16 items-center justify-center rounded-full p-10 text-6xl font-medium uppercase tracking-widest text-white sm:-left-10;
    background: linear-gradient(rgb(230 0 21 / 70%), rgb(0 0 0 / 68%));
  }

  a.card:nth-child(3n + 3) {
    @apply md:col-span-3;
  }
}

@layer utilities {
  .text-dynamic {
    font-size: clamp(1.85rem, 3.5vw, 3rem);
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.12rem;
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(241, 236, 227);
  outline: 1px solid rgb(241, 236, 227);
}

::selection {
  background: rgb(241, 236, 227);
  color: rgb(38, 38, 39);
  text-shadow: none;
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid;
  border-color: inherit;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 185px;
  padding: 7px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon {
  top: -10px;
  left: -10px;
}
.ribbon::before,
.ribbon::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon::before {
  top: 0;
  right: 35px;
}
.ribbon::after {
  bottom: 35px;
  left: 0;
}
.ribbon span {
  right: 12px;
  top: 24px;
  transform: rotate(-45deg);
}
